.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: min-content;
}

.content > :nth-child(odd):last-child {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .content {
    width: 660px;
  }
}
