.page-list-container {
  align-items: center;
  background-color: black;
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: center;
  opacity: 90%;
  position: sticky;
  user-select: none;
  width: 100%;
}

.page-list {
  color: white;
  display: flex;
  justify-content: center;
  user-select: none;
}

.page-item-container {
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  overflow: scroll;
  width: 60px;
  /* Remove scrollbars */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.page-item-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.page-item-container:nth-child(4) {
  font-size: 18px;
  font-weight: bold;
}

.page-item {
  align-items: center;
  display: flex;
  flex: none;
  height: 40px;
  justify-content: center;
  width: 60px;
}

.page-item:empty {
  cursor: default;
}

@media only screen and (max-width: 540px) {
  .page-item-container:nth-child(4) {
    font-size: 14px;
  }

  .page-item-container {
    width: 45px;
  }

  .page-item {
    width: 45px;
  }
}
